<!-- Top Courses -->
<div class="row mt-3">
    <div class="col-12 text-center">
        <h3 class="text-danger"> We offer </h3>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <img src="/assets/webdevelopment.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Learn HTML5</h5>
              <p class="card-text">HTML is widely learned language. HTML is used to develop many websites alread. Lets learn it with Pune Gurukul now.</p>
              <a href="#" class="btn btn-primary">Book a seat</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <img src="/assets/jsDevelopment.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Learn JavaScript</h5>
              <p class="card-text">HTML is widely learned language. HTML is used to develop many websites alread. Lets learn it with Pune Gurukul now.</p>
              <a href="#" class="btn btn-primary">Book a seat</a>
            </div>
          </div>
    </div>
    <div class="col-md-4 col-sm-6">
        
        <div class="card">
            <img src="/assets/webdevelopment.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Learn NodeJS</h5>
              <p class="card-text">HTML is widely learned language. HTML is used to develop many websites alread. Lets learn it with Pune Gurukul now.</p>
              <a href="#" class="btn btn-primary">Book a seat</a>
            </div>
          </div>
    </div>
</div>