<div class="row mt-3">
    <div class="col-12 text-center">
        <h3 class="text-danger"> About Us </h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <p>
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
          APRG TECHNOLOGIES provides the opportunity for fresher students to work as intern on our live projects using latest technologies like Angular, Node JS, PHP, Java, React JS, ASP .Net, Android, Ionic, Databases like MySql, MS SQL, SQL Server, SQLite, Mongo DB.
        </p>
    </div>
</div>